body {
    background: url("https://nanatsu-no-taizai.fandom.com/wiki/Kay?file=Kay_taunting_Arthur.png")
        fixed;
    background-size: cover;
    color: #000;
}

.row {
    background-color: aqua;
}
